#aboutimage {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  font-family: Open Sans;
  
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #333;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

.services {
  vertical-align: top;
}

